<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <form action="/piglatinize" method="post">
      <label for="user_input">Enter a phrase:</label>
      <input type="text" name="user_input" value="">
      <input type="submit" name="" value="submit">
    </form>

  </body>
</html>
